# Config files
config/*.ini

# any .ini files
*.ini

MarketNews/data/raw/

# Specific data files we want to ignore
MarketNews/data/processed/combined_news_data.csv
MarketNews/data/processed/news_sentiment_data.csv
MarketNews/data/processed/concat_data.csv
MarketNews/data/processed/finnhub_scraped_articles.csv
MarketNews/data/raw/marketaux/*.json
Reddit_2021_to_2024.csv
Stock_prices_2018_to_2022.csv
Stock_prices_2021_to_2024.csv

# Data files but NOT Python files
*.csv
*.json
!MarketNews/src/**/*.py  # This ensures Python files are NOT ignored

# Keep the directory structure but ignore data content
MarketNews/data/**/
!MarketNews/data/**/.*
!MarketNews/data/**/__init__.py

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
Reddit/.env